# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# generated resource
docs/protobuf/*.html
# Folders
.glide/
_obj/
_test/
seed_data/*
vendor/
build/
out/
docs/*.html
docker-storage/
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
# k8s
toml
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# mac
.DS_Store
